<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.cdt.pic30.toolchain"
         name="PIC30 Toolchain"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <projectType
            id="org.eclipse.cdt.pic30.toolchain.executable"
            isAbstract="false"
            isTest="false"
            name="PIC30 Executable">
         <configuration
               cleanCommand="rm -f"
               description="This plugin is a very lazy implementation, so you are offered only this configuration that you have to tweak to achieve what you want."
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="org.eclipse.cdt.pic30.toolchain.configuration.lazy"
               languageSettingsProviders="org.eclipse.cdt.managedbuilder.core.MBSLanguageSettingsProvider"
               name="Lazy">
            <toolChain
                  archList="all"
                  id="org.eclipse.cdt.pic30.toolchain.coff"
                  isAbstract="false"
                  name="PIC30 COFF GCC"
                  osList="all"
                  targetTool="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler;org.eclipse.cdt.pic30.toolchain.tools.coff.linker">
               <builder
                     command="make"
                     id="org.eclipse.cdt.pic30.toolchain.builder"
                     isAbstract="false"
                     name="PIC30 Builder">
               </builder>
               <targetPlatform
                     id="org.eclipse.cdt.pic30.toolchain.platforms.epuck"
                     isAbstract="false"
                     name="e-puck"
                     osList="other">
               </targetPlatform>
               <tool
                     command="pic30-coff-gcc"
                     errorParsers="org.eclipse.cdt.core.GCCErrorParser"
                     id="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler"
                     isAbstract="false"
                     name="PIC30 GCC C Compiler"
                     natureFilter="both"
                     outputFlag="-o">
                  <inputType
                        dependencyCalculator="org.eclipse.cdt.managedbuilder.makegen.internal.DefaultIndexerDependencyCalculator"
                        dependencyContentType="org.eclipse.cdt.core.cHeader"
                        dependencyExtensions="h"
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler.input"
                        name="PIC30 COFF GCC Input"
                        primaryInput="true"
                        sourceContentType="org.eclipse.cdt.core.cSource"
                        sources="c"
                        superClass="cdt.managedbuild.tool.gnu.c.compiler.input">
                  </inputType>
                  <outputType
                        buildVariable="OBJS"
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler.output"
                        name="PIC30 COFF GCC Output"
                        option="-o"
                        outputContentType="org.eclipse.cdt.core.objectFile"
                        outputs="o"
                        primaryOutput="true">
                  </outputType>
                  <optionCategory
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.targetConfiguration"
                        name="Target Configuration"
                        owner="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler">
                  </optionCategory>
                  <option
                        category="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.targetConfiguration"
                        command="-D"
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.targetProcessor"
                        isAbstract="false"
                        name="Target Processor"
                        resourceFilter="all"
                        valueType="enumerated">
                     <enumeratedOptionValue
                           command="-D__dsPIC30F6014A__"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.targetProcessor.dsPIC30F6014A"
                           isDefault="true"
                           name="dsPIC30F6014A">
                     </enumeratedOptionValue>
                  </option>
                  <optionCategory
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.symbols"
                        name="Symbols"
                        owner="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler">
                  </optionCategory>
                  <option
                        category="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.symbols"
                        command="-D"
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.symbols.defined"
                        isAbstract="false"
                        name="Defined symbols (-D)"
                        resourceFilter="all"
                        valueType="definedSymbols">
                  </option>
                  <optionCategory
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.includes"
                        name="Includes"
                        owner="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler">
                  </optionCategory>
                  <option
                        browseType="directory"
                        category="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.includes"
                        command="-I"
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.includes.includes"
                        isAbstract="false"
                        name="Include paths (-I)"
                        resourceFilter="all"
                        valueType="includePath">
                  </option>
                  <optionCategory
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.optimization"
                        name="Optimization"
                        owner="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler">
                  </optionCategory>
                  <option
                        category="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.optimization"
                        command="-O"
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.optimization.level"
                        isAbstract="false"
                        name="Optimization Level"
                        resourceFilter="all"
                        valueType="enumerated">
                     <enumeratedOptionValue
                           command="-O0"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.optimization.level.O0"
                           isDefault="true"
                           name="None (-O0)">
                     </enumeratedOptionValue>
                     <enumeratedOptionValue
                           command="-O1"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.optimization.level.O1"
                           isDefault="false"
                           name="Optimize (-O1)">
                     </enumeratedOptionValue>
                     <enumeratedOptionValue
                           command="-O2"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.optimization.level.O2"
                           isDefault="false"
                           name="Optimize more (-O2)">
                     </enumeratedOptionValue>
                     <enumeratedOptionValue
                           command="-O3"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.optimization.level.O3"
                           isDefault="false"
                           name="Optimize most (-O3)">
                     </enumeratedOptionValue>
                     <enumeratedOptionValue
                           command="-Os"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.optimization.level.Os"
                           isDefault="false"
                           name="Optimize for size (-Os)">
                     </enumeratedOptionValue>
                  </option>
                  <optionCategory
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.debugging"
                        name="Debugging"
                        owner="org.eclipse.cdt.pic30.toolchain.tools.coff.compiler">
                  </optionCategory>
                  <option
                        category="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.debugging"
                        command="-g"
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.debuggin.level"
                        isAbstract="false"
                        name="Debug Level"
                        resourceFilter="all"
                        valueType="enumerated">
                     <enumeratedOptionValue
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.debugging.level.none"
                           isDefault="false"
                           name="None">
                     </enumeratedOptionValue>
                     <enumeratedOptionValue
                           command="-g1"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.debugging.level.g1"
                           isDefault="false"
                           name="Minimal (-g1)">
                     </enumeratedOptionValue>
                     <enumeratedOptionValue
                           command="-g"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.debugging.level.g"
                           isDefault="true"
                           name="Default (-g)">
                     </enumeratedOptionValue>
                     <enumeratedOptionValue
                           command="-g2"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.debugging.level.g2"
                           isDefault="false"
                           name="Full (-g2)">
                     </enumeratedOptionValue>
                     <enumeratedOptionValue
                           command="-g3"
                           id="org.eclipse.cdt.pic30.toolchain.tools.coff.gcc.options.debugging.level.g3"
                           isDefault="false"
                           name="Maximum (-g3)">
                     </enumeratedOptionValue>
                  </option>
               </tool>
               <tool
                     command="pic30-coff-gcc"
                     errorParsers="org.eclipse.cdt.core.GCCErrorParser"
                     id="org.eclipse.cdt.pic30.toolchain.tools.coff.linker"
                     isAbstract="false"
                     name="PIC30 GCC C Linker"
                     natureFilter="cnature"
                     outputFlag="-o">
                  <inputType
                        buildVariable="OBJS"
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.linker.input"
                        name="PIC30 GCC C Linker Input"
                        primaryInput="true"
                        sourceContentType="org.eclipse.cdt.managedbuilder.core.compiledObjectFile"
                        sources="o">
                     <additionalInput
                           kind="additionalinputdependency"
                           paths="$(USER_OBJS)">
                     </additionalInput>
                     <additionalInput
                           kind="additionalinput"
                           paths="$(LIBS)">
                     </additionalInput>
                  </inputType>
                  <outputType
                        id="org.eclipse.cdt.pic30.toolchain.tools.coff.linker.output"
                        name="PIC30 GCC C Linker Output"
                        nameProvider="org.eclipse.cdt.managedbuilder.makegen.gnu.GnuLinkOutputNameProvider"
                        outputs="coff"
                        primaryOutput="true">
                  </outputType>
               </tool>
            </toolChain>
         </configuration>
      </projectType>
   </extension>

</plugin>
